.clock-background {
    background: linear-gradient(-45deg, #2d00aa, #3a0a62, #8700a9, #920909);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes gradient {
    0% {
        background-position: 25% 25%;
    }
    25% {
        background-position: 75% 25%;
    }
    50% {
        background-position: 75% 75%;
    }
    75% {
        background-position: 25% 75%;
    }
    100% {
        background-position: 25% 25%;
    }
}

.clock-time {
    --font-color: white;
    font-size: 40vh;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: var(--font-color);
    -webkit-text-fill-color: var(--font-color); 
    -webkit-text-stroke: 20px var(--font-color);
}

.lock {
    position: absolute;
    right: 1vw;
    bottom: 1vh;
    width: 12vw;
    text-align: center;
    --font-color: white;
    font-size: 5vh;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900;
    font-style: normal;
    background-color: rgba(18, 0, 96, 0.178);
    padding: 0.5vh;
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgba(18, 0, 96, 0.571);
    border-color: rgb(82, 82, 82);
}

.back {    
    position: absolute;
    left: 1vw;
    top: 0vh;
    width: fit-content;
    height: fit-content;
    text-align: center;
    --font-color: rgba(255, 255, 255, 0.192);
    font-size: 5vh;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900;
    font-style: normal;
}